[core]
	excludesfile = /Users/bob/.gitignore_global

[user]
	name = Bob Soppe
	email = bobsoppe@users.noreply.github.com
	signingkey = 8DF60E2F0BD0D2B9

[color]
	ui = always

[commit]
	gpgsign = true

[pull]
	ff = only

[gpg]
	program = /usr/local/bin/gpg

[includeIf "gitdir:/Users/bob/Work/"]
	path = /Users/bob/.config/git/bynder
